Hostname={{ ansible_nodename }}
Server={{ zproxy }}
ServerActive={{ zproxy }}
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/zabbix_agent2.key
TLSPSKIdentity=zbx-psk-autoreg
HostMetadata=os:linux,app:veeam,team:backup,key:Rzt6b9cW